*{
  margin: 0px;
  padding: 0px;

}
.menu-container{
  background-color: rgb(42, 40, 40);
  padding: 20px;
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo-photo{
  width: 120px;
}
.menus{
  display: flex;
}
.item{
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}
.item:hover{
  color: tomato;
}
.banner-img{
  height:300px ;
 
}
.banner-container{
  display: flex;
  color: white;
  justify-content: space-around;
  height: 100vh;
  border: 1px solid grey ;
  align-items: center;
  background-image: url("/images/background.png"), linear-gradient(45deg,#4a4444,#2c2424) ;
  
}
.text-b{
  font-size: 40px;
  margin: 20px;
  
}
.raj1{
  font-size: 20px;
  margin: 20px;
}
button{
 background-color: red;
 color: aliceblue;
 border: 2px solid tomato;
 border-radius: 10px;
 padding: 15px;
 margin: 20px;
}
.pic11{
  height: 400px;
}
.about-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  margin: 50px;
 
}

  

.box{
  width: 280px;
  height: 280px;
  box-shadow: 4px 4px 25px gray ;
  background-color: black;
  text-align: center;
  color: aliceblue;
  margin: 20px;
  padding: 10px;
}
.icon-1{
  height: 70px;
}
.raj2{
  background-color: gray;
 color: aliceblue;
 border: 2px solid rgb(178, 172, 171);
 border-radius: 10px;
 padding: 15px;
 margin: 20px;

}

.head4{
  color: white;
  text-align: center;
  font-size: 50px;
}
.service-section{

  display: flex;
  justify-content: space-around;
  padding: 20px;
 
  
}
.gray{
  background-color: rgb(34, 33, 33);
}
#about{
   text-align: center;
  font-size: 50px;
  color: grey;

}